<div id="about-me" class="h-screen top-0 bottom-0 w-5/6 mx-auto justify-between items-center pt-10 hidden lg:flex">
    <div class="">
        <h2 class="text-2xl">Hola, soy Uriel</h2>
        <h1 class="text-4xl whitespace-nowrap">Desarrollador FullStack</h1>
        <div class="flex justify-center items-center">
            <!-- Curriculum -->
            <!-- GitHub Link -->
            <!-- LinkedIn Link -->
        </div>
    </div>
    <div class="flex justify-center items-center">
        <img src="/Linkedin_Foto.jpeg" alt="Foto de perfil" class="rounded-full border-[6px] border-cyan-400 w-1/2 animate-radiusMorph">
    </div>
</div>
<div class="flex flex-col lg:hidden">

</div>