<div id="contacto" class="w-full h-full bg-black/40 shadow-inner shadow-white/30 pb-5">
    <h2 class="font-semibold text-3xl text-center p-10">Contacto</h2>
    <p class="text-center text-white/80 text-base max-w-[600px] sm:px-0 px-4 mx-auto">Contáctame enviando un correo a <a target="_blank" class="text-white/80 hover:text-white/60 underline" href="mailto:urieljolo@gmail.com">urieljolo@gmail.com</a> o a través de este formulario.</p>
        <form class="flex flex-col gap-y-3 p-4 rounded-lg max-w-[550px] mx-auto">
            <label class="text-white font-semibold px-2" for="nombre">Nombre</label>
            <input class="bg-white/20 border-2 border-black/40 rounded-lg p-2" type="text">
            <label class="text-white font-semibold px-2" for="correo">Correo</label>
            <input class="bg-white/20 border-2 border-black/40 rounded-lg p-2" type="text">
            <label class="text-white font-semibold px-2" for="mensaje">Mensaje</label>
            <textarea class="bg-white/20 border-2 border-black/40 rounded-lg p-2" name="" id="" cols="30" rows="5"></textarea>
            <button id="form-submit" type="submit" class="bg-white/20 hover:bg-white/30 text-white font-semibold rounded-full transition p-2 w-32">Enviar</button>
        </form>
        <div>
            <!-- Contact Details -->
            <h2>Contact Details</h2>
        </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('form-submit')
        form?.addEventListener('click', async(e) => {
            e.preventDefault()
            const res = await fetch("/api/sendEmail.json", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    name: 'Roberto Mainetti',
                    email: 'urieljolo@gmail.com',
                    message: 'Buenaaaas',
                }),
            })
            const data = await res.json()
            console.log(data.message)
        })
    })
</script>