<div class="fixed top-5 h-auto flex justify-center items-center w-full z-50">
    <nav class="rounded-full bg-black/60 px-3 py-1.5 sm:flex justify-center items-center shadow-md shadow-white/10 backdrop-blur-md">
        <a href="#about-me" class="hover:bg-white/10 rounded-full px-3 hover:cursor-pointer transition hover:scale-110 text-xs sm:text-base">Sobre mí</a>
        <a href="#proyectos" class="hover:bg-white/10 rounded-full px-3 hover:cursor-pointer transition hover:scale-110 text-xs sm:text-base">Proyectos</a>
        <a href="#otros-intereses" class="hover:bg-white/10 rounded-full px-3 hover:cursor-pointer transition hover:scale-110 text-xs sm:text-base">Otros intereses</a>
        <a href="#contacto" class="hover:bg-white/10 rounded-full px-3 hover:cursor-pointer transition hover:scale-110 text-xs sm:text-base">Contacto</a>
    </nav>
</div>