<div class="flex justify-center items-center p-4">
    <div class="rounded-full bg-black/60 px-2 py-1.5 flex justify-center items-center">
        <a class="hover:bg-white/10 rounded-full px-3 hover:cursor-pointer transition text-base">Sobre mí</a>
        <a class="hover:bg-white/10 rounded-full px-3 hover:cursor-pointer transition text-base">Proyectos</a>
        <a class="hover:bg-white/10 rounded-full px-3 hover:cursor-pointer transition text-base">Otros intereses</a>
        <a class="hover:bg-white/10 rounded-full px-3 hover:cursor-pointer transition text-base">Contacto</a>
    </div>
</div>