---
import { Image } from "astro:assets";
import Banner from '../../public/bet-hilel2.jpg'
---

<div class="py-10 lg:w-4/5 w-5/6 mx-auto">
    <h1 class="font-semibold text-2xl text-center">Sobre Bet Hilel</h2>
    <p class="text-base p-10 text-balance text-center">El Departamento de Juventud de Bet Hilel, funciona todos los sábados ofreciendo un marco judío de educación no formal para chicos de entre 3 y 17 años, donde las vivencias giran en torno a la educación, la posibilidad de compartir un marco social, el enriquecimiento mutuo y la oportunidad de ser parte en la continuidad del pueblo judío a través de la transmisión de contenidos y valores, ello acompañado de propuestas recreativas para los janijim.</p>
    <div class="flex flex-col md:flex-row justify-between items-center gap-10">
        <div class="bg-white/30 rounded-lg sm:h-[250px] h-[350px] lg:h-[350px] sm:w-[460px] w-[300px] md:w-auto flex flex-col">
            <div class="flex sm:flex-row flex-col justify-between items-center sm:gap-x-14 gap-y-3 px-3 py-1">
                <h1 class="lg:text-xl text-lg text-balance">Majon Guesher - Curso de Líderes</h1>
                <p class="lg:text-base text-sm whitespace-nowrap">2021 - 2023</p>
            </div>
            <p class="text-xs px-3 py-0.5 text-center md:text-left">Educador no formal</p>
            <div class="grow flex justify-center items-center">
                <p class="text-sm lg:text-base px-3 py-0.5">Durante este curso, uno es introducido a la preparación de actividades de caracter no formal para que los jovenes entre 3 y 17 años tengan una actividad donde puedan jugar, divertirse y a la vez, aprender. En estos años, uno tiene prácticas con grupos entre esas edades, donde pone a prueba lo aprendido en el curso mediante la realización de actividades para ellos. Al término de este curso, uno pasa a tomar el rol de madrij (líder) y tiene un grupo a cargo durante el año.</p>
            </div>
        </div>
        <Image class='lg:h-[350px] lg:w-[500px] w-[300px] sm:w-[460px] md:w-[300px] h-[300px] object-cover rounded-lg' src={Banner} alt={"Foto Bet Hilel"} />
    </div>
</div>