---
---

<div class="pt-10 w-4/5 mx-auto">
    <h1 class="font-semibold text-2xl text-center">Mi recorrido por Olimpiadas</h2>
    <p class="text-base p-5 text-balance text-center">Empecé a participar en las Olimpiadas de Matemática en 5to grado de la primaria y hoy en día estoy terminando mi paso como olímpico. Acá les dejo un poco de lo que fue mi recorrido por esta increíble aventura donde pude aprender mucho y llevarme muchas cosas para aplicar en mi vida cotidiana.</p>
</div>