<div class="py-10 w-4/5 mx-auto">
    <h1 class="font-semibold text-2xl text-center">Mi recorrido por ORT</h2>
    <p class="text-base p-5 text-balance text-center">Entré a ORT (Sede Almagro) cuando tenía 12 años para cursar 7mo grado. A partir de ahí, tuve un compromiso muy fuerte con lo que sería mi etapa escolar por la escuela. En 2021 (3er año) tuve que elegir que especialización iba a elegir para continuar mi etapa. Yo decidí elegir la especialidad de TIC, en la sede Belgrano. Allí pude desarrollar todas mis habilidades en cuanto a lo tecnológico y aprender bastante de mis compañeros y profesores. Terminé la secundaria registrando un promedio de 9.70, siendo este uno de los diez mejores de mí camada en la sede de Belgrano.</p>
    <div class="flex flex-col ustify-center items-center">
        <img src="/tic_experience.jpg" alt="TIC Experience" class="rounded-lg shadow-md shadow-white/20">
        <p class="py-3 text-sm text-center">En el evento anual de TIC, la TIC Experience donde se muestran los mejores proyectos hechos en la especialidad</p>
    </div>
</div>