---
import InteresesCard from "./InteresesCard.astro"
---

<div id="otros-intereses" class="w-screen h-full bg-[#151a36] shadow-inner shadow-white/30">
    <h2 class="font-semibold text-3xl text-center pt-10">Otros intereses</h2>
    <!-- 
        Bento: Temas:
        Matemáticas
        Escuela ORT
        Comunidad Bet Hilel
        
     -->
     <section class="w-full max-w-[1400px] grid grid-cols-10 auto-rows-[35rem] gap-4 mx-auto md:p-20 px-5 pb-10 pt-10">
        <InteresesCard class="col-span-10 sm:col-span-4" title="Matemáticas" subtitle="OMA: Olimpiada Matemática Argentina" href="matematicas">
            <div slot="image" class="absolute left-0 top-0 bottom-0 w-full h-full
            group-hover:scale-110 duration-1000 ease-in-out opacity-90
             bg-cover bg-no-repeat -z-10" style="background-image: url('/matematica.jpg')" />
        </InteresesCard>
        <InteresesCard class="col-span-10 sm:col-span-6" title="Escuela ORT" subtitle="TIC: Tecnología de la Información y Comunicaciones" href="ort">
            <div slot="image" class="absolute left-0 top-0 bottom-0 w-full h-full
            group-hover:scale-110 duration-1000 ease-in-out opacity-90
             bg-cover bg-center bg-no-repeat -z-10" style="background-image: url('/sede-belgrano.jpg')" />
        </InteresesCard>
        <InteresesCard class="col-span-10" title="Bet Hilel" subtitle="Comunidad Judía - Curso de líderes" href="bet-hilel">
            <div slot="image" class="absolute left-0 top-0 bottom-0 w-full h-full
            group-hover:scale-110 duration-1000 ease-in-out opacity-90
             bg-cover bg-center bg-no-repeat -z-10" style="background-image: url('/bet-hilel.jpg')" />
        </InteresesCard>
     </section>
</div>