---
import { string } from "astro/zod";
import CardProject from "./CardProject.astro"
import { technologiesMuseon } from "../lib/technologies.astro";
import { technologiesEsland } from "../lib/technologies.astro";
import { technologiesWordle } from "../lib/technologies.astro";
---

<div id="proyectos" class="w-full bg-black/40 shadow-inner shadow-white/20 pb-10">
    <h2 class="font-semibold text-3xl text-center p-10">Mis Proyectos</h2>
    <section class="max-w-[1150px] 2xl:max-w-[1500px] mx-auto grid grid-cols-1 md:grid-cols-2 rx:grid-cols-3 gap-y-10 2xl:gap-y-16">
        <div class="flex justify-center items-center">
        <CardProject 
            title="Esland Web" 
            image="/esland_web.png"
            content="Recreación de la página web de los Premios ESLAND mejorando su estilo y funcionalidad."
            tecnologias={technologiesEsland}
            github="https://github.com/UrielJolodovsky/esland-web"
            website="https://esland-web-urieljolo.vercel.app"
        /> 
        </div>
        <div class="flex justify-center items-center">
        <CardProject 
            title="MuseON" 
            image="/museon_logo.png"
            content="Plataforma web que ofrece recorridos virtuales por museos en la que me encargué del Backend y conexión con el Frontend de la página."
            tecnologias={technologiesMuseon}
            github="https://github.com/UrielJolodovsky/museon"
            website="https://museon-proyecto.vercel.app"
        /> 
        </div>
        <div class="flex justify-center items-center">
        <CardProject 
            title="Wordle" 
            image="/wordle_logo.png"
            content="Recreación del clásico juego digital Wordle para practicar el uso de Next.js, React y Typescript."
            tecnologias={technologiesWordle}
            github="https://github.com/UrielJolodovsky/wordle"
            website="https://wordle-urieljolo.vercel.app"
        /> 
        </div>
    </section>
</div>