---

---
<div class="min-h-screen w-full flex justify-center items-center sm:p-20 p-10">
    <div class="w-4/5 h-auto max-w-[800px] my-auto relative sm:before:content-[''] sm:before:absolute sm:before:h-full sm:before:w-0.5 md:before:left-1/2 sm:before:left-0 sm:before:bg-gray-400 md:before:-translate-x-1/2 sm:before:-translate-x-10">
        <ul class="list-none">
            <li class="p-5 bg-white/15 rounded-[10px] mb-5 md:w-1/2 md:mb-12 md:relative last-of-type:mb-0 md:odd:float-left md:odd:clear-right md:even:float-right md:even:clear-left md:odd:-translate-x-7 md:even:translate-x-7 md:after:content-[''] md:after:absolute md:after:h-5 md:after:w-5 md:after:bg-gray-400 md:after:rounded-[50%] md:after:top-0 md:odd:after:-right-7 md:odd:after:translate-x-1/2 md:odd:after:-translate-y-1/2 md:even:after:-left-7 md:even:after:-translate-x-1/2 md:even:after:-translate-y-1/2 hover:after:bg-cyan-400">
                <div class="">
                    <h2 class="text-sm mb-2 sm:absolute -top-7">20th may 2010</h2>
                    <h1 class="text-2xl mb-2">Heading 1</h1>
                    <p class="text-base">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut veniam quisquam sed corporis voluptate! Nobis ducimus aspernatur odio magni eius!</p>
                </div>
            </li>
            <li class="p-5 bg-white/15 rounded-[10px] mb-5 md:w-1/2 md:mb-12 md:relative last-of-type:mb-0 md:odd:float-left md:odd:clear-right md:even:float-right md:even:clear-left md:odd:-translate-x-7 md:even:translate-x-7 md:after:content-[''] md:after:absolute md:after:h-5 md:after:w-5 md:after:bg-gray-400 md:after:rounded-[50%] md:after:top-0 md:odd:after:-right-7 md:odd:after:translate-x-1/2 md:odd:after:-translate-y-1/2 md:even:after:-left-7 md:even:after:-translate-x-1/2 md:even:after:-translate-y-1/2 hover:after:bg-cyan-400">
                <div class="">
                    <h2 class="text-sm mb-2 md:absolute -top-7">20th may 2010</h2>
                    <h1 class="text-2xl mb-2">Heading 2</h1>
                    <p class="text-base">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut veniam quisquam sed corporis voluptate! Nobis ducimus aspernatur odio magni eius!</p>
                </div>
            </li>
            <li class="p-5 bg-white/15 rounded-[10px] mb-5 md:w-1/2 md:mb-12 md:relative last-of-type:mb-0 md:odd:float-left md:odd:clear-right md:even:float-right md:even:clear-left md:odd:-translate-x-7 md:even:translate-x-7 md:after:content-[''] md:after:absolute md:after:h-5 md:after:w-5 md:after:bg-gray-400 md:after:rounded-[50%] md:after:top-0 md:odd:after:-right-7 md:odd:after:translate-x-1/2 md:odd:after:-translate-y-1/2 md:even:after:-left-7 md:even:after:-translate-x-1/2 md:even:after:-translate-y-1/2 hover:after:bg-cyan-400">
                <div class="">
                    <h2 class="text-sm mb-2 md:absolute -top-7">20th may 2010</h2>
                    <h1 class="text-2xl mb-2">Heading 3</h1>
                    <p class="text-base">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut veniam quisquam sed corporis voluptate! Nobis ducimus aspernatur odio magni eius!</p>
                </div>
            </li>
            <li class="p-5 bg-white/15 rounded-[10px] mb-5 md:w-1/2 md:mb-12 md:relative last-of-type:mb-0 md:odd:float-left md:odd:clear-right md:even:float-right md:even:clear-left md:odd:-translate-x-7 md:even:translate-x-7 md:after:content-[''] md:after:absolute md:after:h-5 md:after:w-5 md:after:bg-gray-400 md:after:rounded-[50%] md:after:top-0 md:odd:after:-right-7 md:odd:after:translate-x-1/2 md:odd:after:-translate-y-1/2 md:even:after:-left-7 md:even:after:-translate-x-1/2 md:even:after:-translate-y-1/2 hover:after:bg-cyan-400">
                <div class="">
                    <h2 class="text-sm mb-2 md:absolute -top-7">20th may 2010</h2>
                    <h1 class="text-2xl mb-2">Heading 4</h1>
                    <p class="text-base">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut veniam quisquam sed corporis voluptate! Nobis ducimus aspernatur odio magni eius!</p>
                </div>
            </li>
            <li class="p-5 bg-white/15 rounded-[10px] mb-5 md:w-1/2 md:mb-12 md:relative last-of-type:mb-0 md:odd:float-left md:odd:clear-right md:even:float-right md:even:clear-left md:odd:-translate-x-7 md:even:translate-x-7 md:after:content-[''] md:after:absolute md:after:h-5 md:after:w-5 md:after:bg-gray-400 md:after:rounded-[50%] md:after:top-0 md:odd:after:-right-7 md:odd:after:translate-x-1/2 md:odd:after:-translate-y-1/2 md:even:after:-left-7 md:even:after:-translate-x-1/2 md:even:after:-translate-y-1/2 hover:after:bg-cyan-400">
                <div class="">
                    <h2 class="text-sm mb-2 md:absolute -top-7">20th may 2010</h2>
                    <h1 class="text-2xl mb-2">Heading 5</h1>
                    <p class="text-base">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut veniam quisquam sed corporis voluptate! Nobis ducimus aspernatur odio magni eius!</p>
                </div>
            </li>
        </ul>
    </div>
</div>