---
import InformationBetHilel from "../../components/InformationBetHilel.astro";
import PresentationInterest from "../../components/PresentationInterest.astro";
import LayoutIntereses from "../../layouts/LayoutIntereses.astro";
---
<LayoutIntereses title="Bet Hilel" description="">
    <main>
        <PresentationInterest />
        <InformationBetHilel />
    </main>
</LayoutIntereses>