---
import InformationBetHilel from "../../components/InformationBetHilel.astro";
import PresentationBetHilel from "../../components/PresentationBetHilel.astro";
import LayoutIntereses from "../../layouts/LayoutIntereses.astro";
---
<LayoutIntereses title="Bet Hilel" description="">
    <main>
        <PresentationBetHilel />
        <InformationBetHilel />
    </main>
</LayoutIntereses>