---
import LayoutMatematica from "../../layouts/LayoutMatematica.astro";
import TimeLine from "../../components/TimeLine.astro";
---

<LayoutMatematica title="Matemática" description="Un poco sobre la Matemática se interpuso en mí camino">
    <main>
        <TimeLine />
    </main>
</LayoutMatematica>