---
import PresentationMath from "../../components/PresentationMath.astro";
import InformationMath from "../../components/InformationMath.astro";
import TimeLine from "../../components/TimeLine.astro";
import LayoutIntereses from "../../layouts/LayoutIntereses.astro";
---

<LayoutIntereses title="Matemática" description="Un poco sobre la Matemática se interpuso en mí camino">
    <main>
        <PresentationMath />
        <InformationMath />
        <TimeLine />
    </main>
</LayoutIntereses>