---
import LayoutMatematica from "../../layouts/LayoutMatematica.astro";
---

<LayoutMatematica title="Matemática" description="Un poco sobre la Matemática se interpuso en mí camino">
    <main>
        
    </main>
</LayoutMatematica>