---
import InformationMath from "../../components/InformationMath.astro";
import TimeLine from "../../components/TimeLine.astro";
import LayoutIntereses from "../../layouts/LayoutIntereses.astro";
import PresentationInterest from "../../components/PresentationInterest.astro";
---

<LayoutIntereses title="Matemática" description="Un poco sobre la Matemática se interpuso en mí camino">
    <main>
        <PresentationInterest />
        <InformationMath />
        <TimeLine />
    </main>
</LayoutIntereses>