---
import InformationORT from "../../components/InformationORT.astro"
import PresentationORT from "../../components/PresentationORT.astro"
import LayoutIntereses from "../../layouts/LayoutIntereses.astro"
---

<LayoutIntereses title="ORT" description="Un poco sobre mí camino en la Escuela ORT">
    <main>
        <PresentationORT />
        <InformationORT />
    </main>
</LayoutIntereses>