---
interface Props {
    title: string;
    image: string;
    background: string;
}

const { title, image, background } = Astro.props
---

<div href="https://nextjs.org/" class={`rounded-full px-3 py-1.5 flex ${background} justify-between items-center gap-x-2 cursor-pointer`}>
    <img src={image} class="w-4" />
    <span class="text-sm">{title}</span>
</div>