---
import Header from '../components/Header.astro';
import '@fontsource-variable/onest';
import '@fontsource-variable/outfit';
const RECAPTCHA_SITE_KEY = import.meta.env.RECAPTCHA_SITE_KEY; ;
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" class="rounded-full" type="image" href="/Linkedin_Foto.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}
	html {
		font-family: "Outfit Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
  		font-family: 'Outfit Variable', sans-serif;
		overflow-x: hidden;
	}
	/* .typewriter {
		overflow: hidden; 
		border-right: .08em solid cyan; 
		width: 0;
		white-space: nowrap; 
		animation: typing 1.5s steps(20, end) forwards, blinking .75s step-end forwards;
	}

	@keyframes typing {
		from { width: 0 }
		to { width: 100% }
	}
	@keyframes blinking {
		50% { border-color: transparent }
		100% { border-color: cyan }
	} */
	::-webkit-scrollbar {
        width: 8px;
      }
      ::-webkit-scrollbar-track {
        background: transparent;
        backdrop-filter: blur(10px);
        border-radius: 5px;
      }
      ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        border-radius: 5px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.5);
      }
</style>
