---
import HeaderIntereses from '../components/HeaderIntereses.astro';
import '@fontsource-variable/outfit';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" class="rounded-full" type="image" href="/Linkedin_Foto.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <HeaderIntereses />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}
	html {
		font-family: "Outfit Variable", system-ui, sans-serif;
		/* background: #234868; */
		background: #151a36;
		/* background: rgba(0, 0, 0, 0.4); */
		/* background: radial-gradient(ellipse 80% 80% at 50% -20%,#7877c64d,#fff0); */
		scroll-behavior: smooth;
	}
	body {
  		font-family: 'Outfit Variable', sans-serif;
		overflow-x: hidden;
	}
	::-webkit-scrollbar {
        width: 8px;
      }
      ::-webkit-scrollbar-track {
        background: transparent;
        backdrop-filter: blur(10px);
        border-radius: 5px;
      }
      ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        border-radius: 5px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.5);
      }

	  #header-nav {
		animation: blur linear both;
		animation-timeline: scroll();
		animation-range: 0 300px;
	}
	@keyframes blur {
		to {
			box-shadow: 0px 3px 50px -5px hsla(0, 0%, 100%, 0.1),
			0px 2px 0 1px hsla(0, 0%, 100%, 0.1);
			background: rgba(0, 0, 0, .3);
			backdrop-filter: blur(12px);
		}
	}
</style>
